body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.highlight{
    color: yellow;
}
.part{
    width: 40%;
    padding-left: 5%;
    margin-left: 5%;
    float: left;
    
}
.part img{
    width: 100%;
}
.upbackground{
    background-image: url(images/top-banner.png);
    height: 500px;
    background-repeat: no-repeat;
}
.link-button{
    padding: 10px 30px;
    background-image: linear-gradient(45deg,#ff0037, #ff009d);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.part2{
    width: 40%;
    float: left;
}
.part2 img{
    width: 100%;
}
.part2-all{
    margin-left: 50%;
}
.part2-link-button{
    padding: 10px 50px;
    background-image: linear-gradient(45deg,#ff0037, #ff009d);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.part2-background{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    border:1px solid black;
}