body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}

p{
    color: dimgray;
}
.highlight{
    color: orange;
}
.part{
    width: 40%;
    padding-left: 5%;
    margin-left: 3%;
    float: left;
    
}
.part img{
    width: 100%;
}
.upbackground{
    background-image: url(images/top-banner.png);
    height: 500px;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.link-button{
    padding: 10px 30px;
    background-image: linear-gradient(45deg,#ff0037, #ff009d);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.part2{
    width: 40%;
    float: left;
    margin-right: 10%;
}
.part2 img{
    width: 100%;
}

.part2-background{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;   
    height: 500px;
    background-position: right;
    margin-bottom: 100px;
}
.part3{
    height: 300px ;
    box-shadow: 5px 5px 40px gray;
    border-radius: 6px;
    margin-bottom: 200px;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    height: 500px;
    background-position: left;
}
#full{
    border-left: 5px solid;
    border-image: linear-gradient(tomato, yellow);    
    border-image-slice: 1;
}
#baby{
    border-left: 5px solid;
    border-image: linear-gradient(#2b06ff, #00fff2);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 12px;
}